# General
.DS_Store

# Build
/classes/
/lib/*.jar
/node_modules/
/plugin/
/target/
/test/classes/
/test/lib/*.jar
/tmp/

# Plug-in Build
/src/plugin/*/.build
/src/plugin/*/classes
/src/plugin/*/tmp
/src/plugin/*/*.plugin
/src/plugin/*/lib/*.jar
/src/plugin/system/files/js/rapidcontext.*.min.js

# Documentation
/doc.zip
/doc/java/
!/doc/java/topics.json
/doc/js/

# Package
/rapidcontext-*.zip

# Tools
/.classpath
/.settings/
/.scannerwork/
/package-lock.json
