# General
.DS_Store
/node_modules/
/package-lock.json

# Build
/.scannerwork/
/.tap/
/classes/
/lib/rapidcontext-*.jar
/plugin/
/test/classes/
/tmp/

# Plug-in Build
/src/plugin/*/.build
/src/plugin/*/classes
/src/plugin/*/tmp
/src/plugin/*/*.plugin
/src/plugin/cmdline/lib/cmdline-*.jar
/src/plugin/http/lib/http-*.jar
/src/plugin/jdbc/lib/jdbc-*.jar
/src/plugin/system/files/js/rapidcontext.min.js

# Documentation
/doc.zip
/doc/java/
!/doc/java/topics.json
/doc/js/

# Package
/rapidcontext-*.zip
