# General files
.DS_Store
/node_modules/
/package-lock.json

# Compile output files
/classes/
/lib/rapidcontext-*.jar
/plugin/
/test/classes/
/tmp/

# Plug-In compile output files
/src/plugin/*/build.number
/src/plugin/*/classes
/src/plugin/*/*.plugin
/src/plugin/cmdline/lib/cmdline-*.jar
/src/plugin/http/lib/http-*.jar
/src/plugin/jdbc/lib/jdbc-*.jar

# Documentation output files
/doc.zip
/doc/java/
!/doc/java/topics.json
/doc/js/

# Package output files
/rapidcontext-*.zip
