/**
 * Documentation styles
 */
body.doc {
    background: #fff;
}
body.doc .center {
    position: relative;
    width: 880px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}
.doc h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
.doc h2 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
.doc h2[id] {
    margin-top: 2rem;
}
.doc h1 + h2[id] {
    margin-top: 0.5rem;
}
.doc h2 .unimportant {
    font-size: 0.8em;
}
.doc code,
.doc pre {
    color: #069;
}
.doc var {
    font-family: ui-monospace, "Courier New", monospace;
    font-style: normal;
    color: #063;
}
.doc abbr {
    border-bottom: 1px dotted #063;
    color: #063;
}
.doc q {
    font-style: normal;
    color: #063;
}
.doc img {
    max-width: 100%;
}
.doc img.shadow {
    box-shadow: 1px 1px 3px #0006;
}
.doc .header {
    padding: 30px 0 40px 0;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    background-color: #467b89;
    background-image: linear-gradient(120deg, #06293a, #98f3ff);
}
.doc .header a:link,
.doc .header a:visited,
.doc .header a:active,
.doc .header a:hover {
    color: white;
    text-decoration: none;
}
.doc .header .center {
    display: flex;
}
.doc .header .logotype {
    position: relative;
    width: 128px;
    height: 128px;
    margin-left: 1em;
    margin-right: 2em;
    border: 1px solid #000b;
    border-radius: 50% 50%;
    background: radial-gradient(farthest-corner at 40% 30%, #fff, #eee, #888);
    box-shadow: 1px 1px 5px #0008;
    overflow: hidden;
}
.doc .header .logotype::before {
    position: absolute;
    top: 0;
    left: -10%;
    width: 45%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, #fff2 0%, #fff2 77%, #fff7 92%, #fff0 100%);
    transform: skewX(-35deg);
}
.doc .header .logotype img {
    height: 73%;
    width: 73%;
    padding: 12.5% 13.5%;
}
.doc .header .text {
    margin-top: 0.5em;
    text-shadow: 2px 2px 2px #024a;
}
@media screen and (max-width: 400px) {
    body.doc .header {
        padding: 25px 0 15px 0;
    }
    body.doc .header .center {
        width: 250px;
    }
    body.doc .header .logotype {
        margin-left: 0;
        width: 64px;
        height: 64px;
    }
    body.doc .header .text {
        top: 4px;
        left: 80px;
        font-size: 7px;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
    body.doc .header {
        padding: 25px 0 15px 0;
    }
    body.doc .header .center {
        width: 400px;
    }
    body.doc .header .logotype {
        margin-left: 0;
        width: 96px;
        height: 96px;
    }
    body.doc .header .text {
        top: 5px;
        left: 120px;
        font-size: 10px;
    }
}
.doc .header .menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    border-radius: 0 0 0 2px;
    box-shadow: 0 0 2px #000;
    background: #06293a;
    color: white;
}
.doc .content {
    padding: 0 50px 0 50px;
}
@media screen and (max-width: 400px) {
    body.doc .content {
        padding: 0 15px 0 15px;
    }
    body.doc .content.center {
        max-width: calc(100% - 30px);
    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
    body.doc .content {
        padding: 0 30px 0 30px;
    }
}
.doc .footer {
    padding: 20px 0 50px 0;
}
.doc .breadcrumb {
    margin-bottom: 1em;
    padding: 3px 0;
    list-style: none;
}
.doc .breadcrumb li {
    display: inline-block;
}
.doc .breadcrumb li:first-child::before {
    font-family: FontAwesome;
    content: "\f02e";
    padding: 0 10px 0 0;
    color: #2b5661;
}
.doc .breadcrumb li + li::before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.doc .breadcrumb a:link,
.doc .breadcrumb a:active,
.doc .breadcrumb a:visited {
    color: #2b5661;
}
.doc .breadcrumb .active {
    color: #888;
}

@media print {
    .breadcrumb {
        display: none;
    }
}
.doc .fineprint {
    font-size: 0.8em;
    color: #888;
}


/**
 * Documentation style for JSDoc
 */
.doc .jsdoc {
    padding-bottom: 2em;
}
.doc .jsdoc .summary-table,
.doc .jsdoc .section-title {
    width: 100%;
    margin: 2em 0 0.5em;
}
.doc .jsdoc .summary-table caption,
.doc .jsdoc .section-title {
    background: #cef;
    color: #1e466e;
    font-size: 1.333em;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
}
.doc .jsdoc .summary-table caption,
.doc .jsdoc .summary-table th,
.doc .jsdoc .summary-table td,
.doc .jsdoc .section-title {
    border: 1px solid #ace;
    padding: 3px 6px;
    vertical-align: top;
}
.doc .jsdoc .summary-table caption {
    border-bottom-width: 0;
}
.doc .jsdoc .summary-table td.attributes {
    width: 140px;
    text-align: right;
}
.doc .jsdoc .summary-table td.attributes,
.doc .jsdoc .fixed-font {
    color: #1e466e;
    font-family: ui-monospace, "Courier New", monospace;
}
.doc .jsdoc .summary-table td.name-description {
    text-align: left;
}
.doc .jsdoc .summary-table td.name-description,
.doc .jsdoc .summary-table .description {
    margin: 3px 0;
}
.doc .jsdoc .summary-table td.name-description .deprecated {
    text-decoration: line-through;
}
.doc .jsdoc header h2 {
    display: none;
}
.doc .jsdoc h4 {
    margin-top: 1em;
    border-top: 5px solid #ccc;
    padding-top: 1em;
    font-size: 1.2em;
}
.doc .jsdoc h2 + h4,
.doc .jsdoc h3 + h4 {
    border-top: none;
    padding-top: 0;
}
.doc .jsdoc h5,
.doc .jsdoc h6 {
    margin: 0.5em 0 0 0;
}
.doc .jsdoc .signature-attributes {
    vertical-align: -0.25em;
    font-weight: 200;
    font-size: 75%;
    padding: 0 0.1em
}
.doc .jsdoc .type-signature {
    font-weight: normal;
    color: #397;
}
.doc .jsdoc .type-prefix,
.doc .jsdoc .param-type {
    color: #aaa;
}
.doc .jsdoc .param-type b {
    padding: 0 0.1em;
    font-weight: normal;
    color: #397;
}
.doc .jsdoc .attributes {
    font-weight: 200;
    font-style: italic;
}
.doc .jsdoc dl {
    padding: 0;
}
.doc .jsdoc dl > dd {
    margin-bottom: 0.5em;
    margin-left: 2em;
}
.doc .jsdoc dl > dd > ul {
    margin: 0;
}
.doc .jsdoc table.params th,
.doc .jsdoc table.params td,
.doc .jsdoc table.props th,
.doc .jsdoc table.props td {
    padding-right: 1em;
}
.doc .jsdoc table.params th,
.doc .jsdoc table.props th {
    border-bottom: 1px solid #eee;
    font-weight: normal;
    color: #999;
}
.doc .jsdoc table.params tr:first-child > td,
.doc .jsdoc table.props tr:first-child > td {
    padding-top: 0.25em;
}
.doc .jsdoc [class^="label-"] {
    margin: 0 0.3em;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
    font-size: 0.8em;
    color: #fff;
    cursor: default;
}
.label-namespace {
    background: #8ac;
}
.label-interface,
.label-mixin {
    background: #c8a;
}
.label-class {
    background: #ac8;
}
.doc .jsdoc .code-caption {
    margin: 0;
    color: #666;
}
.doc .jsdoc .code-caption::after {
    content: ':';
}


/**
 * Documentation style for Highlight JS (source code)
 */
.doc .hljs {
    display: block;
    border: 1px solid #eee;
    border-radius: 0.5em;
    padding: 1em;
    overflow-x: auto;
    background: #f5f5f5;
}
.doc .hljs .lineno {
    display: inline-block;
    width: 3em;
    margin-right: 0.5em;
    border-right: 1px solid #e8e8e8;
    padding-right: 0.5em;
    text-align: right;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.doc .hljs,
.doc .hljs ::selection,
.doc .hljs::selection,
.doc .hljs-operator,
.doc .hljs-punctuation,
.doc .hljs-subst  {
    color: #303030;
}
.doc .hljs ::selection,
.doc .hljs::selection {
    background-color: #d0d0d0;
}
.doc .hljs-comment {
    color:#b0b0b0
}
.doc .hljs-tag {
    color:#505050
}
.doc .hljs-operator {
    opacity:.7
}
.doc .hljs-bullet,
.doc .hljs-deletion,
.doc .hljs-name,
.doc .hljs-selector-tag,
.doc .hljs-template-variable,
.doc .hljs-variable {
    color:#ac4142
}
.doc .hljs-attr,
.doc .hljs-link,
.doc .hljs-literal,
.doc .hljs-number,
.doc .hljs-symbol,
.doc .hljs-variable.constant_ {
    color:#d28445
}
.doc .hljs-class .hljs-title,
.doc .hljs-title,
.doc .hljs-title.class_,
.doc .hljs-strong {
    color: #619
}
.doc .hljs-strong {
    font-weight: 700;
}
.doc .hljs-addition,
.doc .hljs-code,
.doc .hljs-string,
.doc .hljs-title.class_.inherited__ {
    color:#90a959
}
.doc .hljs-built_in,
.doc .hljs-doctag,
.doc .hljs-keyword.hljs-atrule,
.doc .hljs-quote,
.doc .hljs-regexp {
    color:#75b5aa
}
.doc .hljs-attribute,
.doc .hljs-function .hljs-title,
.doc .hljs-section,
.doc .hljs-title.function_,
.doc .ruby .hljs-property {
    color:#6a9fb5
}
.doc .diff .hljs-meta,
.doc .hljs-keyword,
.doc .hljs-template-tag,
.doc .hljs-type,
.doc .hljs-emphasis {
    color:#aa759f
}
.doc .hljs-emphasis {
    font-style:italic
}
.doc .hljs-meta,
.doc .hljs-meta .hljs-keyword,
.doc .hljs-meta .hljs-string {
    color:#8f5536
}
.doc .hljs-meta .hljs-keyword,
.doc .hljs-meta-keyword {
    font-weight: 700
}
