/**
 * Default HTML Styles
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, ui-sans-serif, system-ui, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    font-family: inherit;
    margin-bottom: 0.25rem;
}
h1, .h1, h2, .h2, h3, .h3 {
    font-weight: 700; /* bold */
}
h1, .h1 {
    margin-top: 1rem;
    font-size: 1.666em;
    line-height: 1.5;
}
h2, .h2 {
    margin-top: 0.5rem;
    font-size: 1.333em;
    line-height: 1.5;
}
h3, .h3 {
    margin-top: 0;
    font-size: 1.167em;
    line-height: 1.5;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600; /* semibold */
}
hr {
    margin: 1em 0;
    border: none;
    border-bottom: 1px solid #ccc;
    clear: both;
}
p, .p {
    margin: 0 0 1em 0;
}
article, dialog, figure, header, hgroup, main, nav, section, footer {
    display: block;
}
table {
    border-collapse: collapse;
    font-family: inherit;
    font-size: inherit;
}
td, th {
    text-align: left;
    vertical-align: top;
}
a, .a {
    font-weight: bold;
    text-decoration: none;
}
a:link,
a:active,
a:visited,
.a {
    color: #1e466e;
}
img {
    vertical-align: text-bottom;
}
a img,
.a img {
    border: none;
}
pre, code {
    margin-top: 0;
    font-family: ui-monospace, "Courier New", monospace;
    color: #666;
}
ol, ul, dl {
    margin: 0.5rem 0;
    padding: 0 2em;
}
li ol,
li ul {
    margin-top: 0;
}
dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
dd {
    margin: 0 0 1em 0;
}
nav ol,
nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    font-weight: bold;
    color: #666;
}
nav li + li::before {
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    content: "/";
}


/**
 * Adjustments for small screens, print, etc
 */
@media screen and (max-width: 400px) {
    body {
        font-size: 11px;
        line-height: 1.5;
    }
}
p, ol, ul, dl {
    break-inside: avoid;
}


/**
 * Colored & Boxed styles
 */
.box {
    margin: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    overflow: hidden; /* Fix for float elements overflowing box */
    break-inside: avoid;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #fdfdfd, #eee);
    box-shadow: 0 0 0.25rem #0004;
}
ol.box, ul.box {
    padding: 0.5rem 2rem;
}
.box li + li {
    margin-top: 0.25rem;
}
.box li ol li,
.box li ul li {
    margin-top: 0;
}
.box .box-icon {
    font-size: 3em;
    margin: 0 0.75rem 0 -0.25rem;
}
.grey,
.box.grey {
    border-color: #ccc;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #fdfdfd, #eee);
}
.box.grey .box-icon {
    color: #ddd;
}
.yellow,
.box.yellow {
    border-color: #ffc;
    background-color: #ffe;
    background-image: linear-gradient(to bottom, #fffffd, #ffe);
}
.box.yellow .box-icon {
    color: #ddb;
}
.box.orange {
    border-color: #fea;
    background-color: #f8f0cc;
    background-image: linear-gradient(to bottom, #fffef0, #f8f0cc);
}
.box.orange .box-icon {
    color: #eda;
}
.red,
.box.red {
    border-color: #ecc;
    background-color: #fee;
    background-image: linear-gradient(to bottom, #fffdfd, #fee);
}
.box.red .box-icon {
    color: #faa;
}
.green,
.box.green {
    border-color: #cec;
    background-color: #efe;
    background-image: linear-gradient(to bottom, #fdfffd, #efe);
}
.box.green .box-icon {
    color: #9cb;
}
.blue,
.box.blue {
    border-color: #cef;
    background-color: #e8f8ff;
    background-image: linear-gradient(to bottom, #fdfdff, #e8f8ff);
}
.box.blue .box-icon {
    color: #adf;
}
@media screen and (max-width: 400px) {
    body .box {
        margin: 0;
    }
    body .box .box-icon {
        display: none;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
    body .box {
        margin: 0.5rem 1rem;
    }
    body .box .box-icon {
        display: none;
    }
}


/**
 * Markup display styles
 */

/* Field label style */
.label {
    font-weight: 600;
    color: #0008;
    white-space: nowrap;
}

/* Short horizontal line */
hr.short {
    width: 50%;
    margin: 1em 25%;
}

/* Help text style */
.helptext {
    padding: 0.25rem 0 0.25rem 0;
    color: #888;
}

/* Important style */
.important {
    font-weight: bold;
    color: #f00;
}

/* Unimportant style */
.unimportant {
    color: #888;
}


/**
 * Interactive UI styles
 */

/* Text tooltip */
.tooltip {
    cursor: pointer;
}

/* Clickable elements (showing hovering effects) */
.clickable {
    cursor: pointer;
}
.clickable:hover {
    background: var(--highlight-100);
}
