<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Language" content="en" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="%CSS_FILES%" type="text/css" />
    <script type="text/javascript">
      MochiKit = {__export__: false};
    </script>
    <script type="text/javascript" src="%JS_FILES%"></script>
    <title>RapidContext</title>
  </head>

  <body style="overflow: hidden;" onload="RapidContext.App.init()">

  </body>

</html>
