<!DOCTYPE html>

<html lang="%LANG%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="%VIEWPORT%">
    <base href="%BASE_URL%">
    %HEADER%
    <link rel="stylesheet" type="text/css" href="%CSS_FILES%">
    <script type="text/javascript">
      MochiKit = {__export__: false};
      RapidContext = { _basePath: "%BASE_PATH%" };
    </script>
    <script type="text/javascript" src="%JS_FILES%" defer></script>
    <title>%TITLE%</title>
  </head>
  <body style="overflow: hidden; padding: 10px;" onload="RapidContext.App.init(%APP_ID%)">
  </body>
</html>
