<!DOCTYPE html>
<html lang="%LANG%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="%VIEWPORT%">
    <base href="%BASE_URL%">
    %HEADER%
    <link rel="stylesheet" type="text/css" href="%CSS_FILES%">
    <script>
      MochiKit = {__export__: false};
      RapidContext = { _basePath: "%BASE_PATH%" };
    </script>
    <script src="%JS_FILES%" defer></script>
    <title>%TITLE%</title>
  </head>
  <body style="overflow: hidden; padding: 10px;" onload="RapidContext.App.init(%APP_ID%)">
    <div id="unsupported-browser" class="hidden" style="margin: 15% auto; width: 50em; font-size: 1.3em; text-align: center;">
      <h1>Browser not supported</h1>
      <p style="margin-bottom: 2em; font-size: 1.2em;">
        Please download a recent version from one of the links below.
      </p>
      <div style="display: inline-block; margin: 0 1em;">
          <a href="https://www.firefox.com/">
              <i class="fa fa-5x fa-firefox" style="display: block; margin: 0.2em;"></i>
              Mozilla Firefox
          </a>
      </div>
      <div style="display: inline-block; margin: 0 1em;">
          <a href="https://www.microsoft.com/en-us/edge">
              <i class="fa fa-5x fa-edge" style="display: block; margin: 0.2em;"></i>
              Microsoft Edge
          </a>
      </div>
      <div style="display: inline-block; margin: 0 1em;">
          <a href="https://www.google.com/chrome">
              <i class="fa fa-5x fa-chrome" style="display: block; margin: 0.2em;"></i>
              Google Chrome
          </a>
      </div>
      <div style="display: inline-block; margin: 0 1em;">
          <a href="https://www.apple.com/safari/">
              <i class="fa fa-5x fa-safari" style="display: block; margin: 0.2em;"></i>
              Apple Safari
          </a>
      </div>
    </div>
  </body>
</html>
