<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE web-app PUBLIC
    '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN'
    'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>

  <display-name>RapidContext</display-name>
  <description>
    The RapidContext server-side application.
  </description>

  <servlet>
    <servlet-name>ServletApplication</servlet-name>
    <display-name>Servlet Application</display-name>
    <description>
      The application servlet. This servlet acts as a front controller
      and processes all incoming HTTP requests.
    </description>
    <servlet-class>org.rapidcontext.app.ServletApplication</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
