<?js
var data = obj;
var self = this;
?>
<h4 class="name" id="<?js= id ?>"><?js= data.attribs + name + (data.signature ? data.signature : '') ?></h4>

<?js if (data.summary) { ?>
<p class="summary"><?js= summary ?></p>
<?js } ?>

<?js if (data.description) { ?>
<div class="description">
    <?js= self.htmltext(data.description) ?>
</div>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>
