<?js
var data = obj;
var self = this;

if (data.kind === 'event' && name.startsWith('on')) {
    name = name.substring(2);
}
let prefix = '';
if (kind === 'class') {
    prefix += '<span class="type-prefix">new</span> ';
} else if (kind === 'event') {
    prefix += '<span class="type-prefix">on</span>';
}

?>
<?js if (data.kind !== 'module' && data.kind !== 'namespace') { ?>
    <?js if (data.kind === 'class') { ?>
    <h2 class="section-title">Constructor</h2>
    <?js } ?>

    <h4 class="name" id="<?js= id ?>">
        <?js= data.attribs + prefix + name + (data.signature || '') ?>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
<?js } ?>

<?js if (data.kind !== 'module' && data.description) { ?>
<div class="description">
    <?js= self.htmltext(data.description) ?>
</div>
<?js } ?>

<?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
    <h5>Extends:</h5>
    <?js= self.partial('augments.tmpl', data) ?>
<?js } ?>

<?js if (kind === 'event' && data.type && data.type.names) {?>
    <h5>Type:</h5>
    <ul>
        <li>
            <?js= self.partial('type.tmpl', data.type.names) ?>
        </li>
    </ul>
<?js } ?>

<?js if (data['this']) { ?>
    <h5>This:</h5>
    <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>
