<?js
    var self = this;

    docs.forEach(function(doc, i) {
        let isGlobalPage = (doc.kind === 'globalobj');
        let members = self.find({kind: 'member', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        let methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        let events = self.find({kind: 'event', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        let classes = self.find({kind: 'class', memberof: doc.longname});
?>

<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
    <?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<header>
    <?js if (!doc.longname || doc.kind !== 'module') { ?>
        <h2><?js if (doc.attribs) { ?><span class="attribs"><?js= doc.attribs ?></span><?js }
            if (doc.ancestors && doc.ancestors.length) { ?>
            <span class="ancestors"><?js= doc.ancestors.join('') ?></span><?js
         }
        ?><?js= doc.name ?><?js
         if (doc.variation) { ?>
            <sup class="variation"><?js= doc.variation ?></sup><?js }
         if (doc.signature && !doc.hideconstructor) { ?><?js= doc.signature ?><?js } ?></h2>
        <?js if (doc.classdesc) { ?>
            <div class="class-description"><?js= self.htmltext(doc.classdesc) ?></div>
        <?js } else if (doc.description) { ?>
            <div class="description"><?js= self.htmltext(doc.description) ?></div>
        <?js } ?>
    <?js } else if (doc.kind === 'module' && doc.modules) { ?>
        <?js doc.modules.forEach(function(module) { ?>
            <?js if (module.classdesc) { ?>
                <div class="class-description"><?js= self.htmltext(module.classdesc) ?></div>
            <?js } ?>
        <?js }) ?>
    <?js } ?>

    <?js if (doc.kind === 'class' && !doc.hideconstructor) { ?>
    <table class="summary-table">
        <caption>Constructor Summary</caption>
        <tbody>
            <tr>
                <td class="attributes"></td>
                <td class="name-description">
                    <div><code><a href="#<?js= doc.id ?>"><?js= doc.attribs + '<span class="type-prefix">new</span> ' + doc.name + (doc.signature || '') ?></a></code></div>
                    <div class="description"><?js= self.summarize(doc.description) ?></div>
                </td>
            </tr>
        </tbody>
    </table>
    <?js } ?>

    <?js if (members.length > 0) { ?>
        <table class="summary-table">
            <caption>Field Summary</caption>
            <tbody>
            <?js members.forEach((m) => { ?>
                <tr>
                    <td class="attributes">
                        <?js= m.attribs ?>
                    </td>
                    <td class="name-description">
                        <div <?js if (m.deprecated) { ?>class="deprecated"<?js } ?>>
                            <code><a href="#<?js= m.id ?>"><?js= m.name + (m.signature || '') ?></a></code>
                        </div>
                        <div class="description"><?js= self.summarize(m.description) ?></div>
                    </td>
                </tr>
            <?js }); ?>
            </tbody>
        </table>
    <?js } ?>

    <?js if (methods.length > 0) { ?>
        <table class="summary-table">
            <caption>Method Summary</caption>
            <tbody>
            <?js methods.forEach((m) => { ?>
                <tr>
                    <td class="attributes">
                        <?js= m.attribs ?>
                    </td>
                    <td class="name-description">
                        <div <?js if (m.deprecated) { ?>class="deprecated"<?js } ?>>
                            <code><a href="#<?js= m.id ?>"><?js= m.name.replaceAll(':', '.') + (m.signature || '') ?></a></code>
                        </div>
                        <div class="description"><?js= self.summarize(m.description) ?></div>
                    </td>
                </tr>
            <?js }); ?>
            </tbody>
        </table>
    <?js } ?>

    <?js if (events.length > 0) { ?>
        <table class="summary-table">
            <caption>Event Summary</caption>
            <tbody>
            <?js events.forEach((e) => { ?>
                <tr>
                    <td class="attributes">
                        <?js= e.attribs ?>
                    </td>
                    <td class="name-description">
                        <div <?js if (e.deprecated) { ?>class="deprecated"<?js } ?>>
                            <?js let s = e.name.startsWith('on') ? e.name.substring(2) : e.name; ?>
                            <code><a href="#<?js= e.id ?>"><span class="type-prefix">on</span><?js= s + (e.signature || '') ?></a></code>
                        </div>
                        <div class="description"><?js= self.summarize(e.description) ?></div>
                    </td>
                </tr>
            <?js }); ?>
            </tbody>
        </table>
    <?js } ?>

    <?js if (classes.length > 0) { ?>
        <table class="summary-table">
            <caption>Class Summary</caption>
            <tbody>
            <?js classes.forEach((c) => { ?>
                <tr>
                    <td class="attributes">
                        <?js= c.attribs ?>
                    </td>
                    <td class="name-description">
                        <div <?js if (c.deprecated) { ?>class="deprecated"<?js } ?>>
                            <?js= self.linkto(c.longname, c.longname) ?>
                        </div>
                        <div class="description"><?js= self.summarize(c.classdesc || c.description) ?></div>
                    </td>
                </tr>
            <?js }); ?>
            </tbody>
        </table>
    <?js } ?>
</header>

<article>
    <div class="container-overview">
    <?js if (doc.kind === 'module' && doc.modules) { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= self.htmltext(doc.description) ?></div>
        <?js } ?>

        <?js doc.modules.forEach(function(module) { ?>
            <?js= self.partial('method.tmpl', module) ?>
        <?js }) ?>
    <?js } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
        <?js= self.partial('method.tmpl', doc) ?>
    <?js } ?>
    </div>

    <?js if (doc.augments && doc.augments.length) { ?>
        <h3 class="section-title">Extends</h3>

        <?js= self.partial('augments.tmpl', doc) ?>
    <?js } ?>

    <?js if (doc.requires && doc.requires.length) { ?>
        <h3 class="section-title">Requires</h3>

        <ul><?js doc.requires.forEach(function(r) { ?>
            <li><?js= self.linkto(r, r) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js
        var interfaces = self.find({kind: 'interface', memberof: doc.longname});
        if (!isGlobalPage && interfaces && interfaces.length) {
    ?>
        <h3 class="section-title">Interfaces</h3>

        <dl><?js interfaces.forEach(function(i) { ?>
            <dt><?js= self.linkto(i.longname, i.name) ?></dt>
            <dd><?js if (i.summary) { ?><?js= i.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var mixins = self.find({kind: 'mixin', memberof: doc.longname});
        if (!isGlobalPage && mixins && mixins.length) {
    ?>
        <h3 class="section-title">Mixins</h3>

        <dl><?js mixins.forEach(function(m) { ?>
            <dt><?js= self.linkto(m.longname, m.name) ?></dt>
            <dd><?js if (m.summary) { ?><?js= m.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js if (members && members.length && members.forEach) { ?>
        <h3 class="section-title">Members</h3>
        <?js members.forEach(function(p) { ?>
            <?js= self.partial('members.tmpl', p) ?>
        <?js }); ?>
    <?js } ?>

    <?js if (methods && methods.length && methods.forEach) { ?>
        <h3 class="section-title">Methods</h3>
        <?js methods.forEach(function(m) { ?>
            <?js= self.partial('method.tmpl', m) ?>
        <?js }); ?>
    <?js } ?>

    <?js
        var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        if (typedefs && typedefs.length && typedefs.forEach) {
    ?>
        <h3 class="section-title">Type Definitions</h3>

        <?js typedefs.forEach(function(e) {
                if (e.signature) {
            ?>
                <?js= self.partial('method.tmpl', e) ?>
            <?js
                }
                else {
            ?>
                <?js= self.partial('members.tmpl', e) ?>
            <?js
                }
            }); ?>
    <?js } ?>

    <?js
        if (events && events.length && events.forEach) {
    ?>
        <h3 class="section-title">Events</h3>

        <?js events.forEach(function(e) { ?>
            <?js= self.partial('method.tmpl', e) ?>
        <?js }); ?>
    <?js } ?>
</article>

<?js } ?>

<?js }); ?>
