<?js
    let doc = obj.docs[0];
?>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="JsDoc" />
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/doc.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0.min.css" type="text/css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../images/logotype-icon.ico">
    <link rel="icon" type="image/png" sizes="256x256" href="../images/logotype-icon-256x256.png">
    <link rel="apple-touch-icon" sizes="256x256" href="../images/logotype-icon-256x256.png">
    <title>RapidContext :: JavaScript API</title>
  </head>
  <body class="doc">

    <section class="header">
      <div class="center">
        <a href="https://www.rapidcontext.com/" class="logotype">
          <img src="../images/logotype.png" />
        </a>
        <div class="text">
          <a href="https://www.rapidcontext.com/">
            <span style="font-size: 3.6em;">RapidContext</span><br>
            <span style="font-size: 1.75em; color: #caf3ff;">Access &#183; Discovery &#183; Insight</span><br>
            <span style="font-size: 1.3em; letter-spacing: 0.34em; line-height: 1.8em;">www.rapidcontext.com</span>
          </a>
        </div>
      </div>
      <div class="menu">
        <a href="https://www.rapidcontext.com/doc/index.html">Docs</a>
        &bull; <a href="https://github.com/cederberg/rapidcontext/releases">Downloads</a>
        &bull; <a href="https://github.com/cederberg/rapidcontext">Project</a>
      </div>
    </section>

    <section class="content center">
      <ol class="breadcrumb">
        <li><a href="../index.html">Documentation</a></li>
        <?js if (doc.kind == 'mainpage' || doc.kind == 'package') { ?>
        <li class="active">JavaScript API</li>
        <?js } else { ?>
        <li><a href="index.html">JavaScript API</a></li>
        <li class="active"><?js= doc.longname || doc.name ?></li>
        <?js } ?>
      </ol>

      <div class="jsdoc">
        <h1 class="classTitle"><?js= title ?></h1>
        <?js= content ?>
      </div>
    </section>

    <section class="footer center fineprint">
      <hr>
      Copyright &copy; 2007-2025 Per Cederberg. All rights reserved.
    </section>

  </body>
</html>
