<?js
var data = obj;
var self = this;

if (data.kind === 'event' && name.startsWith('on')) {
    name = name.substring(2);
}
let prefix = '';
if (kind === 'class') {
    prefix += '<span class="type-prefix">new</span> ';
} else if (kind === 'event') {
    prefix += '<span class="type-prefix">on</span>';
}

?>
<?js if (data.kind !== 'module' && data.kind !== 'namespace') { ?>
    <?js if (data.kind === 'class') { ?>
    <h2 class="section-title">Constructor</h2>
    <?js } ?>

    <h4 class="name" id="<?js= id ?>">
        <?js= data.attribs + prefix + name.replaceAll(':', '.') + (data.signature || '') ?>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
<?js } ?>

<?js if (data.kind !== 'module' && data.description) { ?>
<div class="description">
    <?js= self.htmltext(data.description) ?>
</div>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>
