<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="{+IO.encoding+}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="JsDoc Toolkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome-4.3.0.min.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logotype-icon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logotype-icon-16x16.png">
    <link rel="icon" type="image/png" sizes="256x256" href="../images/logotype-icon-256x256.png">
    <link rel="apple-touch-icon" sizes="256x256" href="../images/logotype-icon-256x256.png">
    <title>RapidContext :: JavaScript API</title>
  </head>
  <body class="doc">
    {+include("static/header.html")+}

<ol class="breadcrumb">
  <li><a href="../index.html">Documentation</a></li>
  <li class="active">JavaScript API</li>
</ol>

<!--START-->

    <h1 class="classTitle">JavaScript API Index</h1>

    <table class="summaryTable">
      <caption>Namespace Summary</caption>
      <tbody>
      <for each="thisClass" in="data">
        <tr>
          <td class="nameDescription">
            {+(new Link().toSymbol(thisClass.alias))+}
          </td>
          <td class="description">
            {+resolveLinks(summarize(thisClass.classDesc))+}
          </td>
        </tr>
      </for>
      </tbody>
    </table>

    {+include("static/footer.html")+}
  </body>
</html>