[
<for each="symbol" in="data">    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}",
        "url": "doc/js/{+symbol.alias+".html"+}"
    },
<for each="method" in="symbol.methods">    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}/{+method.name+}",
        "url": "doc/js/{+method.memberOf+".html"+}#{+method.name+}"
    },
</for><for each="property" in="symbol.properties">    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}/{+property.name+}",
        "url": "doc/js/{+property.memberOf+".html"+}#{+property.name+}"
    },
</for><for each="event" in="symbol.events">    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}/{+event.name+}",
        "url": "doc/js/{+event.memberOf+".html"+}#event:{+event.name+}"
    },
</for></for>    null
]