[<for each="symbol" in="data"><if test="$symbol_i > 0">,</if>
    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}",
        "url": "doc/js/{+symbol.alias+".html"+}"
    }<for each="prop" in="allOwnProperties(symbol)">,
    {
        "topic": "RapidContext/JavaScript API/{+symbol.alias+}/{+prop.name+}",
        "url": "doc/js/{+prop.memberOf+".html"+}#{+Link.symbolNameToLinkName(prop)+}"
    }</for></for>
]